test:
  stage: test
  image: $CI_REGISTRY_IMAGE
  script:
  - jekyll build -d test
  artifacts:
    paths:
    - test
  except:
  - master

pages:
  stage: deploy
  image: $CI_REGISTRY_IMAGE
  script:
  - JEKYLL_ENV=production jekyll build -d public
  artifacts:
    paths:
    - public
  only:
  - master

build_image:
  stage: build
  image: docker:stable
  services:
    - docker:stable-dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  allow_failure: true
  only:
    - schedules
