---
layout: default
---

<div class="home">

  <h1>Recent Posts</h1>

  <ul class="post-list" itemscope itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
      <li>

        <h2 itemscope itemtype="http://schema.org/BlogPosting">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"
            itemprop="name">{{ post.title }}</a>
<span class="post-meta" itemprop="author" itemscope 
  itemtype="http://schema.org/Person">
{% if post.author %}
<span itemprop="name">{{ post.author }}</span> • {% endif %}
          {{ post.date | date: "%b %-d, %Y" }}</span>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
