<header class="site-header">

  <div>
    <a href='https://www.ntpsec.org/'>
      <img src="/clocktower128.png" alt="NTPsec" style="float:left;margin:20px 70px;">
    </a>
  <div>
  <div class="wrapper">

    <div class="site-title">
      <a href='https://blog.ntpsec.org/' class="site-title">
	{{ site.title }}</a></div>

    <nav class="site-nav">
      <div>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
